body {
  background-image: url('https://webbkurs.ei.hv.se/~lool0009/ht2020/superhero.jpg');
  /* Kombinerade bilder https://wallpapercave.com/wp/Wa2T4Ht.jpg & https://wallpapercave.com/wp/drUZxfF.jpg */
  color:white;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #010101 !important;
  min-height: 130vh;
  
  /* min-height: 160vh; */
  
}

/* .App {
  text-align: center;
}*/


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

